// Helpers

.title-lined {
	padding-bottom: 20px;
	border-bottom: 2px solid $blue; 
}    

table, .table {
	width: 100%;
    table-layout: fixed;
}

.woocommerce-form-login-toggle, .woocommerce-form-coupon-toggle {
	display: none;
}

.no-padding.lsx-block-container .lsx-container-content {
	@media (max-width:900px) {
		padding: 0;
	}
}

.white-bg {
	background-color: $white !important;
}

.blue-title, .content-area h2.blue-title {
	color: $blue;
}

.reverse-mobile {
	@media (max-width:600px) {
		display: flex;
		flex-direction: column-reverse;
		.col-md-6:last-child {
			margin-bottom: 2em;
		}
	}
}

// Shooping List

.shopping-list-container {
	@media (min-width:600px) {
		column-count: 2;
		column-gap: 4em;
		width: 100%;
		height: 100%;
	}
	table {
		background-color: #f8f8f8;
		border: 20px solid #f8f8f8;
		border-top: none;
		display: block;
		tbody {
			tr {
				border-bottom: 1px solid #e1e1e1;
				display: flex;
				justify-content: space-between;
				td {
					vertical-align: middle;
					display: inline-block;
					border: none;
					padding: 10px;
					&.column-1 {
						font-weight: bold;
						span {
							font-size: 12px;
							line-height: 15px;
							display: block;
							font-weight: 400;
						}
					}
					&.column-2 {
						color: #9B9B9B;
						text-align: right;
					}
				}
			}
		}
	}
	&.white-list {
		table {
			background-color: #ffffff;
			border: 20px solid #ffffff;
		}
	}
}
