// Helpers

.title-lined {
	padding-bottom: 20px;
	border-bottom: 2px solid $blue; 
}    

table, .table {
	width: 100%;
    table-layout: fixed;
}

.woocommerce-notices-wrapper, .woocommerce-form-login-toggle, .woocommerce-form-coupon-toggle {
	display: none;
}