// Helpers

.title-lined {
	padding-bottom: 20px;
	border-bottom: 2px solid $blue; 
}    

table, .table {
	width: 100%;
    table-layout: fixed;
}

.woocommerce-form-login-toggle, .woocommerce-form-coupon-toggle {
	display: none;
}

.no-padding.lsx-block-container .lsx-container-content {
	@media (max-width:900px) {
		padding: 0;
	}
}

.white-bg {
	background-color: $white !important;
}

.reverse-mobile {
	@media (max-width:600px) {
		display: flex;
		flex-direction: column-reverse;
		.col-md-6:last-child {
			margin-bottom: 2em;
		}
	}
}