// Account

#account-nav {
	margin-bottom: 15px;
	.nav.nav-pills {
		@media (max-width:600px) {
			width: 100vw;
			margin-left: -15px;
			//margin-top: -44px;
    		height: 100%;
			display: flex;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			overflow-scrolling: touch;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;
			box-shadow: 0px 3px 7px rgba(155, 155, 155, 0.4);
			&::-webkit-scrollbar {
				width: 1px;
				height: 5px;
				background-color: $white ;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $blue;
			}
		}
		li {
			margin-right: 15px;
			@media (max-width:600px) {
				//width: 100%;
				margin: 0;
				width: 40%;
				flex-shrink: 0;
				height: 100%;
				scroll-snap-align: start;
				display: flex;
				padding-right: 2px;
				&:not(.active) {
					a {
						opacity: 0.7;
					}
				}
			}
			&.active {
				a{
					&::after {
						color: white;
						opacity: 1;
					}
				}
			}
			a {
				border-radius: 0;
				background: $white;
				font-family: 'Noto Sans', sans-serif;
				font-weight: bold;
				font-size: 15px;
				color: $gray;
				padding: 15px;
				display: flex;
				min-width: 200px;
				display: flex;
				justify-content: space-between;
				@media (max-width:600px) {
					font-size: 13px;
					width: 100%;
					padding: 15px;
					flex-direction: column;
					text-align: center;
					min-width: auto;
				}
				&::after {
					content: '';
					margin-left: 10px;
					background-size: contain;
					display: inline-block;
					width: 25px;
					height: 25px;
					background-repeat: no-repeat;
					background-position: center;
					font-family: FontAwesome;
					font-size: 25px;
					position: relative;
					bottom: 7px;
					color: $blue;
					opacity: 0.5;
					@media (max-width:600px) {
						width: 100%;
						height: 20px;
						margin: 5px 0 0 0;
					}
				}
				&:hover {
					&::after {
						opacity: 1;
						color: white;
					}
				}
				&.my-plan-tab {
					&::after {
						content: '\f0e4';
					}
				}
				&.account-details-tab {
					&::after {
						content: '\f007';
					}
				}
				&.logout-tab {
					&::after {
						content: '\f090';
					}
				}
				@media (max-width:334px) {
					font-size: 11px;
				}
			}
			&.active, &:hover {
				a {
					background: $blue;
					color: $white;
				}
			}
		}
	}
}

.my-profile-block {
	background: $white;    
	
	max-width: 900px;
	margin: 0 auto;
	@media (min-width:900px) {
		display: flex;
		padding: 35px 20px 20px;
	}
	.profile-navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width:900px) {
			margin-bottom: 20px;
		}
		@media (min-width: 900px) {
			margin-right: 20px;
		}
		.profile-photo {
			img {
				border-radius: 100px;
				border: 2px solid $blue;
				height: 180px;
				margin-bottom: 20px;
				width: 180px;
				object-fit: cover;
			}
		}
		.edit-profile {
			.btn.btn-green {
				background-color: $green;
				box-shadow: 2px 2px 0 0 $dark_green;
				color: $white;
			}
		}
	}
	.profile-details {
		width: 100%;
		h1 {
			font-size: 30px;
			text-transform: capitalize;
		}
		.table.personal-information {
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			thead {
				background-color: $light_gray;
			}
			tr {
				th, td {
					border: none;
				}
				td {
					font-weight: 300;
				}
				strong {
					font-weight: 500;
				}
			}
		}
	}
}

.daily-plan-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&.day-grid {
		display: grid;
		grid-template-columns: repeat(7, 13%);
		grid-template-rows: 120px;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			display: flex;
		}
		@media (max-width:600px) {
			grid-template-columns: repeat(4, 23%);
			grid-template-rows: 80px;
		}
	}
	.day {
		background-color: #ececec;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 2px;
		height: 110px;
		transition: none;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			width: 100px;
		}
		&:hover {
			background-color: $blue;
			color: $white;
			.plan-content {
				color: $white;
			}
		}
		@media (max-width:768px) {
			.daily-plan-block {
				&.week-grid {
					.week-row {
						.week-row-inner {
							justify-content: flex-start;
							.day {
									margin-right: 12px;
							}
						}
					}
				}
			}
		}
		@media (max-width: 500px) {
			.daily-plan-block.week-grid {
				.week-row {
					.week-row-inner {
						.day.completed {
							padding: 5px;
						}
					}
				}
			}
		}		
		@media (min-width:900px) {
			max-width: 120px;
		}
		@media (max-width:600px) {
			height: 80px;
			margin-bottom: 0;
		}
		.plan-content {
			font-size: 22px;
			font-weight: bold;
			text-align: center;
			display: flex;
		}
		&.completed {
			.plan-content {
				font-size: 0;
				&:before {
					content: '\f05d';
					font-family: FontAwesome;
					font-size: 82px;
					color: #dcdcdc;
					font-weight: 300;
				}
			}
		}
		&.current-day {
			background-color: transparent;
			border: 2px solid $blue;
			.plan-content {
				display: flex;
    			flex-direction: column;
				&:before {
					content: url(/wp-content/plugins/lsx-health-plan/assets/images/hourglass.svg);
					height: 40px;
				}
			}
		}
		&.next-day {
			background-color: $blue;
			.plan-content {
				color: $white;
			}
			&:last-child {
				.plan-content {
					display: flex;
					flex-direction: column;
					&:before {
						content: url(/wp-content/plugins/lsx-health-plan/assets/images/trophy.svg);
						height: 40px;
					}
				}
			}
		}
	}
	&.week-grid {
		display: flex;
		flex-direction: column;
		transition: none;
		a {
			background: #e9ecee;
			margin-bottom: 10px;
			font-size: 28px;
			font-family: 'Lora', serif;
			font-weight: bold;
			padding: 10px;
			display: flex;
			justify-content: space-between;
			transition: none;
			&.week-title {
				&:hover, &:focus {
					color: $blue;
				}
				&:after {
					content: "\f0d7";
					font-family: 'FontAwesome';
				}
				&[aria-expanded="true"] {
					&:after {
						content: "\f0d8";
						font-family: 'FontAwesome';
					}
				}
				&[aria-expanded="false"] {
					&:after {
						content: "\f0d7";
						font-family: 'FontAwesome';
					}
				}
			}
		}
		.week-row {
			.week-row-inner {
				.week-meals-recipes-box {
					.week-meals-recipes-box-inner {
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;
						.day {
							background: none;
							&:not(.completed) {
								border: 4px solid $blue;
								border-radius: 50px;
								height: 100px;
								width: 100px;
								background: rgba(65, 138, 208, 0.3);
								text-align: center;
								display: flex;
								justify-content: center;
							}
							&:hover {
								&:not(.completed) {
									background: $blue;
									.plan-content {
										color: $white;
									}
								}
							}
							.plan-content {
								font-family: 'Noto Sans', sans-serif;
								font-weight: 300;
								text-transform: uppercase;
							}
						}
					}
				}
				&.week-downloads-view-on {
					display: flex;
					justify-content: space-between;
					@media (max-width:1024px) {
						flex-direction: column;
					}
					.week-meals-recipes-box {
						padding-right: 5px;
						flex-grow: 1;
						h3 {
							background-color: $light_gray;
							padding: 10px 16px;
							margin-bottom: 16px;
							display: flex;
							svg {
								margin-right: 10px;
							}
						}
						.week-meals-recipes-box-inner {
							.day {
								&.completed {
									.plan-content {
										font-size: 0;
										&:before {
											font-size: 50px;
											color: #F1F1F1;
											@media (max-width:1024px) {
												font-size: 66px;
											}
										}
									}
								}
								&:not(.completed) {
									height: 75px;
									width: 75px;
									margin-right: 5px;
									padding: 5px;
									.plan-content {
										font-size: 18px;
										font-weight: bold;
										line-height: 24px;
									}
								}
							}
						}
					}
					.week-download-box {
						background-color: $light_gray;
						padding: 10px 16px;
						margin-bottom: 5px;
						flex-grow: 1;
						.title {
							display: flex;
							svg {
								margin-right: 10px;
							}
						}
						.week-download-box-list {
							a {
								background: none;
								font-size: 15px;
								line-height: 24px;
								padding: 0;
								font-weight: normal;
								font-family: 'Noto Sans', sans-serif;
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
}

#edit-account-tab {   
	padding: 35px 20px 20px;
	max-width: 1140px;
    width: 100%;
	margin: 20px auto 140px;
	@media (max-width:600px) {
		padding: 0 10px 20px;
		margin-top: 0px;
		#account-nav {
			.nav-pills {
				margin-left: -25px;
			}
		}
	}
	.edit-account-section, .stat-section {
		width: 100%;
		padding: 30px;
		background: $white; 
		.title-lined, .woocommerce {
			max-width: 800px;
			margin-left: 0;
		}
		.woocommerce {
			.woocommerce-MyAccount-content {
				width: 100%;
			}
			.woocommerce-EditAccountForm {
				label, span em {
					font-weight: 300;
				}
				label {
					word-break: break-word;
				}
				p:last-child {
					margin-top:20px;
				}
			}
		}
		.my-stats-title {
			margin-top: 60px;
		}
		.my-stats {
			display: flex;
			flex-wrap: wrap;

			p:last-child {
				margin-top:0px !important;
			}

			.form-row{
				&:first-child, &:nth-child(2), &:nth-child(3){
					margin-bottom: 20px;
					color: $blue;
					font-size: 22px;
				}
				padding-right: 15px !important;
				flex-grow: 1;
				width: 33.333%;
			}
		}
		.wpua-edit-container {
			margin-top: 60px;
			h3 {
				font-size: 0;
				display: flex;
				flex-direction: column;
				font-size: 30px;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 2px solid $blue;
			}
			p.tagline {
				font-family: 'Noto Sans', sans-serif;
				font-size: 15px;
			}
			#wpua-add-existing {
				background-color: #dcdcdc;
				box-shadow: 2px 2px 0 0 #969696;
				color: #4e4e4e;
				&:hover {
					background-color: #969696;
				}
			}
			#wpua-preview-existing {
				img {
					border-radius: 50%;
				}
			}
			#wpua-remove-existing {
				color: #4e4e4e;
				background: none;
				box-shadow: none;
				padding: 0;
				&:before {
					content: '\f00d';
					font-family: 'FontAwesome';
					color: #d84e2e;
					margin-right: 10px;
				}
				&:hover {
					color: #969696;
				}
			}
			#wpua-undo-button-existing {
				display: none;
			}
			#wpua-upload-button-existing {
				#wpua-file-existing {
					margin-bottom: 15px;
				}
			}
			#wpua-thumbnail-existing, #wpua-images-existing span {
				display: none;
			}
		}
	}
}