// Single Plan

.plan-template-default, .recipe-template-default {
	.content-area, .widget-area {
		margin-top: 4.5rem;
		@media (max-width:768px) {
			margin-top: 8.5rem;
		}
	}
}

#single-plan-nav {
	margin-bottom: 15px;
	.nav.nav-pills {
		@media (max-width:600px) {
			width: 100vw;
			margin-left: -15px;
			margin-top: -55px;
    		height: 100%;
			display: flex;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			overflow-scrolling: touch;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;
			box-shadow: 0px 3px 7px rgba(155, 155, 155, 0.4);
			&::-webkit-scrollbar {
				width: 1px;
				height: 5px;
				background-color: $white ;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $blue;
			}
		}
		@media (max-width:319px) {
			margin-top: -44px;
		}
		li {
			@media (max-width:600px) {
				//width: 100%;
				margin: 0;
				width: 28%;
				flex-shrink: 0;
				height: 100%;
				scroll-snap-align: start;
				display: flex;
				padding-right: 2px;
				&:not(.active) {
					a {
						opacity: 0.7;
					}
				}
			}
			@media (max-width:333px) {
				min-height: 90px;
			}
			&.active {
				svg {
					g {
						path {
							stroke: white !important;
						}
						circle {
							fill: white !important;
						}
					}
				}
			}
			a {
				border-radius: 0;
				background: $white;
				font-family: 'Lora', serif;
				font-weight: bold;
				font-size: 18px;
				color: $gray;
				padding: 15px 35px;
				display: flex;
				@media (max-width:600px) {
					font-size: 13px;
					width: 100%;
					padding: 15px;
					flex-direction: column;
    				text-align: center;
				}
				&.overview-tab {
					svg {
						position: relative;
						top: 5px;
					}
				}
				&.workout-tab {
					svg {
						max-width: 28px;
					}
				}
				svg {
					margin-right: 15px;
					@media (max-width:600px) {
						margin: 0 auto;
						width: 100%;
						height: 20px;
					}
				}
				&:hover {
					svg {
						g {
							path {
								stroke: white !important;
							}
							circle {
								fill: white !important;
							}
						}
					}
					&.workout-tab {
						svg {
							g {
								fill: white !important;
							}
						}
					}
					&.warm-up-tab, &.recipes-tab {
						svg {
							g {
								fill: white !important;
							}
							path {
								stroke: transparent !important;
							}
							circle {
								fill: transparent !important;
							}
						}
					}
				}
			}
			&.active, &:hover {
				a {
					background: $blue;
					color: $white;
				}
				.warm-up-tab, .recipes-tab {
					svg {
						g {
							fill: white !important;
						}
						path {
							stroke: transparent !important;
						}
						circle {
							fill: transparent !important;
						}
					}
				}
			}
		}
	}
}

.my-plan-container {
	.lsx-container-content {
		padding: 10px 2em;
		.lsx-block-container {
			.lsx-container-content {
				padding: 15px 10px;
			}
		}
	}
}

@media (max-width: 600px) {
	#edit-account-tab {
		padding: 0 10px 20px;
		margin-top: 0px;
		margin-top: -45px;
	}
}

.woocommerce-edit-account {
	.wp-block-lsx-blocks-lsx-banner-box {
		min-height: 200px;
	}
	.lsx-banner-image-wrap {
		img {
			min-width: 100%;
			min-height: 200px;
			object-fit: cover;
			@media (max-width: 600px) {
				min-height: 440px;
			}
		}
	}
}

.menu-my-account.lsx-block-container.alignfull {
	@media (max-width: 600px) {
		.lsx-container-content {
			padding: 0em 3em 1em;
		}
	}
}

.archive-plan {
	.row {
		display: flex;
		flex-wrap: wrap;
	}
}
.post-type-archive-recipe,
.tax-recipe-type {
	.bottom-single-recipe {
		margin-top: 4.25rem;
		margin-bottom: -8.4rem;
	}
}

.single-plan, .archive-plan {
	.entry-content, .tab-content-plan {
		background: $white;    
		padding: 25px 40px;
		@media (max-width:992px) {
			padding: 15px 10px;
		}
	}
	.extra-title {
		span {
			color: $blue;
			font-weight: bold;
		}
	}
	.box-shadow {
		box-shadow: 0 2px 4px rgba(0,0,0,0.26);
	}
	.btn-full {
		width: 100%;
	}
	.tab-content-plan {
		margin-right: 0;
		margin-left: 0;
		@media (min-width:992px) {
			display: flex;
			flex-wrap: wrap;
			.col-md-4 {
				display: flex;
			}
		}
		@media (max-width:992px) {
			.col-md-4 {
				padding: 0;
			}
		}
		.lsx-health-plan-box {
			background: $light_gray;
			padding: 25px 20px;
			box-shadow: 0 2px 4px rgba(0,0,0,0.26);
			margin-bottom: 30px;
			width: 100%;
			@media (min-width:992px) {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			.title {
				font-size: 30px;
				display: grid;
				grid-template-columns: 80% 20%;
    			grid-template-rows: 50% 50%;
				&::after {
					content: '';
					margin-right: 10px;
					background-size: contain;
					display: inline-block;
					width: 25px;
					background-repeat: no-repeat;
					background-position: center;
				}
				svg {
					width: 40px;
					height: 40px;
					justify-self: end;
				}
			}
			.excerpt {
				flex-grow: 2;
			}
			.btn {
				width: 100%;
			}
			.spacer {
				+ .btn {
					margin-bottom: 20px; 
				}
			}
		}
		.day-download-box {
			.lsx-health-plan-box {
				@media (min-width:992px) {
					justify-content: start;
				}
			}
		}
	}
	.status-plan-buttons {
		padding: 25px 20px;
	}
	.content-box {
		margin: 0 0 30px;
		background: $light_gray;
		padding: 12px 16px;
	}
	.blue-title {
		color: $blue;
		font-weight: bold;
	}
	.single-plan-section-title {
		svg {
			width: 50px;
			height: 50px;
		}
		&.workput {
			svg {
				width: 80px;
			}
		}
	}
	.single-plan-inner {
		&.workout-content {
			max-width: 1000px;
			.workout-instructions {
				padding-left: 10px;
    			padding-right: 10px;
				h3 {
					font-family: 'Noto Sans', sans-serif;
					font-weight: bold;
					margin-bottom: 5px;
				}
				.single-plan-inner-buttons {
					padding: 0;
				}
			}
			.sets {
				.set-title {
					font-family: "Noto Sans";
					text-transform: uppercase;
					color: $blue;
				}
				.set-content, .set-table {
					font-size: 16px;
					color: #222222;
				}
				
				.set-table {
					.workout-table {
						tr {
							th {
								border-bottom: 2px solid $blue;
								padding: 5px 0;
							}
							td {
								border-bottom: 1px solid #E1E1E1;
								padding: 20px 0;
								&.video-button-item  {
									button {
										background-color: transparent;
										border: none;
										.fa {
											font-size: 40px;
											color: $blue;
										}
										&:hover {
											.fa {
												color: $yellow;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.modal.in {
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
		.eating-row {
			.eating-column {
				.content-box {
					.eating-title, h3 {
						font-family: "Noto Sans";
						font-size: 22px;
						font-weight: bold;
					}
				}
			}
		}
		// .extras-box {
		// 	@media (max-width:992px) {
		// 		padding: 10px 15px;
		// 	}
		// }
		.tip-row {
			@media (min-width:992px) {
				display: flex;
			}
			.tip-left, .tip-middle, .tip-right {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				min-height: 240px;
			}
			.eating-title, h3 {
				font-family: "Noto Sans";
				font-size: 22px;
			}
			.tip-right {
				@media (max-width:600px) {
					margin-top: 30px;
				}
			}
		}
		&.recipes-content {
			.recipe-column {
				.recipe-title {
					font-size: 22px;
    				font-family: 'Noto Sans', sans-serif;
				}
				.recipe-table {
					width: 100%;
					margin-bottom: 25px;
					table-layout: fixed;
				}
				.btn {
					margin-bottom: 25px;
				}
			}
		}
	}
	.single-plan-inner-buttons {
		padding: 45px 0;
		@media (min-width:600px) {
			display: flex;
			.complete-plan-btn {
				margin-right: 40px;
			}
		}
		@media (max-width:600px) {
			.complete-plan-btn, .back-plan-btn {
				margin-bottom: 20px;
				.btn {
					width: 100%;
				}
			}
		}
	}
}

.lsx-health-plan-modal {
	.modal-header {
		display: none;
	}
	.modal-content {
		padding: 40px;
	}
	.modal-title  {
		margin-bottom: 25px;
	}
	.modal-body {
		@media (max-width: 600px) {
			iframe {
				height: 100%;
			}	
		}
		
	}
}

.post-type-archive-recipe,
.tax-recipe-type {
	.archive-plan {
		.row {
			.col-md-4 {
				.recipe-feature-img {
					img {
						width: 100%;
					}
				}
				.content-box {
					//min-height: 290px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 15px 15px 0;
					table {
						flex-grow: 2;
						display: flex;
						td, th {
							vertical-align: top;
						}
						.prep-time,
						.cooking-time,
						.portion-size {
							display: none;
						}
					}
					a {
						margin-bottom: 1.5em;
					}
				}
			}
		}
	}

	.lsx-hp-archive-description {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: flex;
		.description-wrapper {
			margin-top: 4.25rem;
			text-align: center;
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
			p {
				margin-bottom:0px;
			}
		}
	}

	&.lsx-search-enabled {
		.archive-plan {
			.content-box {
				margin: 0px 0 30px;
			}
		}
	}
}