// Variables

$blue: #418ad0;
$white: #ffffff;
$gray: #4a4a4a;
$gray_medium: #999999;
$light_gray: #f6f6f6;
$yellow: #f7ae00;
$green: #6ba913;
$dark_green: #446b0c;

$lsx-gap: 2.4rem;
$lsx-medium-gap: 4.25rem;
$lsx-large-gap: 8.5rem;
