.vertical-align {
	@media (min-width:768px) {
		display: flex;
    	align-items: center;
	}
	
}

// Account 

body:not(.logged-in).woocommerce-account.my-plan {
	.woocommerce {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
		p.woocommerce-LostPassword.lost_password {
			a {
				color: #f7ae00;
			}
		}
		h1.lost-your-password-title {
			font-size: 30px;
			display: block;
			font-family: 'Lora', serif;
			margin-bottom: 20px;
		}
		.woocommerce-ResetPassword.lost_reset_password {
			.woocommerce-form-row.form-row.form-row-first {
				width: 100%;
				label {
					font-weight: 400;
				}
			}
		}
	}
	#main .woocommerce button.woocommerce-button.button.woocommerce-form-login__submit {
		padding: 10px 40px;
	}
}

// Edit Account
body.woocommerce-account.woocommerce-edit-account {
	#primary.content-area {
		margin-top:0px;
		margin-bottom:0px;
	}
}

// Lost Password
body:not(.logged-in).woocommerce-account.woocommerce-lost-password {
	article.page {
		width: 66.66667% !important;
		margin: 0 auto;

		.woocommerce {

			form {
				.form-row-first label {
					font-weight: 700 !important;
				} 
				.form-row-last {
					float: none;
					width: 100%;
				}
			}
		}
	}
}

body:not(.logged-in).woocommerce-login,
body:not(.logged-in).content-restricted  {
	.woocommerce {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
	
}

// Banners 

.page-banner-wrap {
	.page-banner {
		>.page-banner-image {
			bottom: 0;
			background-color: #2b3840;
		}
	}
}

// Checkout

#payment {
	&.woocommerce-checkout-payment {
		.form-row.place-order {
			background: #fff;
			padding: 0px 20px 20px 20px !important;
			.woocommerce-terms-and-conditions-wrapper {
				background: #f6f6f6;
				margin-left: -20px;
				margin-right: -20px;
				.validate-required {
					padding-bottom: 20px !important;
				}
			}
			button#place_order {
				margin-top: 5px;
				float: initial;
				width: 100%;
				background-color: #F7AE00;
				box-shadow: 2px 2px 0 0 #CE9100;
				&:hover {
					background-color: #CE9100;
				}
			}
		}
	}
}

// Login page
.page.login, .page.content-restricted,
.recipe-template-default,
.post-type-archive-recipe,
.tax-recipe-type,
.my-plan,
.single-plan {
	#footer-cta, #footer-widgets {
		display: none;
	}
}