/** LSX Health Plan styles. @package lsx-health-plan */
.title-lined { padding-bottom: 20px; border-bottom: 2px solid #418ad0; }

table, .table { width: 100%; table-layout: fixed; }

.woocommerce-form-login-toggle, .woocommerce-form-coupon-toggle { display: none; }

@media (max-width: 900px) { .no-padding.lsx-block-container .lsx-container-content { padding: 0; } }

.white-bg { background-color: #ffffff !important; }

.blue-title, .content-area h2.blue-title { color: #418ad0; }

@media (max-width: 600px) { .reverse-mobile { display: -ms-flexbox; display: flex; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .reverse-mobile .col-md-6:last-child { margin-bottom: 2em; } }

@media (min-width: 600px) { .shopping-list-container { column-count: 2; column-gap: 4em; width: 100%; height: 100%; } }

.shopping-list-container table { background-color: #f8f8f8; border: 20px solid #f8f8f8; border-top: none; display: block; }

.shopping-list-container table tbody tr { border-bottom: 1px solid #e1e1e1; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

.shopping-list-container table tbody tr td { vertical-align: middle; display: inline-block; border: none; padding: 10px; }

.shopping-list-container table tbody tr td.column-1 { font-weight: bold; }

.shopping-list-container table tbody tr td.column-1 span { font-size: 12px; line-height: 15px; display: block; font-weight: 400; }

.shopping-list-container table tbody tr td.column-2 { color: #9B9B9B; text-align: left; }

.shopping-list-container.white-list table { background-color: #ffffff; border: 20px solid #ffffff; }

.slick-slider .slick-dots { -ms-flex-align: center; align-items: center; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -ms-flex-pack: center; justify-content: center; list-style: none; margin: 1rem 0 0; padding: 0; }

.slick-slider .slick-dots > li { line-height: 1; padding: 5px; }

@media (min-width: 992px) { .slick-slider .slick-dots > li { padding: 0 7.5px; } }

.slick-slider .slick-dots > li > button { background: transparent; border-style: solid; border-width: 1px; font: 0/0 a; height: 12px; transition: all 300ms ease-in-out; width: 4rem; }

@media (min-width: 992px) { .slick-slider .slick-dots > li > button { height: 6px; } }

.slick-slider .slick-arrow { background: transparent; border-radius: 50%; border-style: solid; border-width: 2px; font: 0/0 a; height: 4rem; margin-top: calc((2rem - 17px) / 2); opacity: 1; padding: 0; position: absolute; text-shadow: none; top: 50%; transform: translateY(-50%); transition: border 300ms ease; width: 4rem; z-index: 3; }

.slick-slider .slick-arrow:before { display: block; font-family: 'FontAwesome'; font-size: 3rem; line-height: 1; position: absolute; text-rendering: auto; top: 47%; transform: translateY(-50%); transition: color 300ms ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-slider .slick-arrow.slick-disabled { cursor: not-allowed; }

.slick-slider .slick-arrow.slick-prev { right: -4rem; }

.slick-slider .slick-arrow.slick-prev:before { content: '\f104'; right: 1.1rem; }

.slick-slider .slick-arrow.slick-next { left: -4rem; }

.slick-slider .slick-arrow.slick-next:before { content: '\f105'; right: 1.5rem; }

#lsx-videos-shortcode, #lsx-recipes-shortcode { background: #ffffff; padding: 30px 15px; width: 100%; margin-top: 20px; margin-bottom: 20x; }

#lsx-videos-shortcode h2, #lsx-recipes-shortcode h2 { width: 100%; }

#lsx-videos-shortcode .lsx-videos-title, #lsx-videos-shortcode .lsx-recipes-title, #lsx-recipes-shortcode .lsx-videos-title, #lsx-recipes-shortcode .lsx-recipes-title { font-size: 20px; font-family: 'Noto Sans', sans-serif; }

@media (min-width: 900px) { #lsx-recipes-shortcode .lsx-recipes-shortcode { width: 100%; } }

#lsx-recipes-shortcode .lsx-recipes-shortcode table tr th { font-weight: 300; }

@media (max-width: 767px) { #lsx-recipes-shortcode .lsx-recipes-shortcode .col-md-7 img { margin-top: 2em; } }

@media (min-width: 782px) { #lsx-tips-shortcode .lsx-tips-shortcode { max-width: 600px; } }

@media (min-width: 992px) { #lsx-tips-shortcode .lsx-tips-shortcode { max-width: 240px; } }

@media (min-width: 1200px) { #lsx-tips-shortcode .lsx-tips-shortcode { max-width: 300px; } }

#lsx-tips-shortcode .lsx-tips-shortcode .diet-tip-wrapper.quick-tip { margin: 0; }

#lsx-tips-shortcode .lsx-tips-shortcode .diet-tip-wrapper.quick-tip h3 { color: #418ad0; text-transform: uppercase; font-weight: bold; }

#lsx-tips-shortcode .lsx-tips-shortcode .diet-tip-wrapper.quick-tip h4 { font-family: "Noto Sans"; font-size: 16px; text-transform: uppercase; margin: 0; font-weight: 600; }

#lsx-tips-shortcode .lsx-tips-shortcode .diet-tip-wrapper.quick-tip .tip-item { font-size: 16px; }

#lsx-tips-shortcode .lsx-tips-shortcode .diet-tip-wrapper.quick-tip .tipimage .tip-thumbnail { background: none; border: none; }

#lsx-tips-shortcode .lsx-tips-shortcode .diet-tip-wrapper.quick-tip .tipimage .tip-thumbnail img { border-radius: 50%; border: 2px solid #418ad0; min-height: 120px; min-width: 120px; }

#lsx-tips-shortcode .lsx-tips-shortcode .slick-dots li button { width: 5px; height: 18px; background-color: transparent; border: 2px solid #cdd0d7; border-radius: 50%; }

#lsx-tips-shortcode .lsx-tips-shortcode .slick-dots li.slick-active button { background-color: #cdd0d7; }

@media (max-width: 782px) { .slick-slider { width: 100%; } }

@media (max-width: 400px) { .slick-slider { width: 97%; } }

.slick-slider button.slick-arrow { border-color: #4a4a4a; color: #4a4a4a; }

.slick-slider button.slick-arrow.slick-prev { right: -7rem; }

.slick-slider button.slick-arrow.slick-next { left: -7rem; }

.slick-slider .slick-dots > li > button { border-color: #4a4a4a; }

.slick-slider .slick-dots > li.slick-active > button { background-color: #4a4a4a; }

.slick-slider .lsx-videos-slot iframe { width: 100%; max-height: 300px; }

@media (max-width: 400px) { .slick-slider .lsx-videos-slot iframe { max-height: 150px; } }

@media (min-width: 768px) { .vertical-align { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; } }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce { max-width: 600px; margin-right: auto; margin-left: auto; }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce p.woocommerce-LostPassword.lost_password a { color: #f7ae00; }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce .woocommerce-ResetPassword.lost_reset_password p:first-child:before { content: 'Lost your password?'; font-size: 30px; display: block; font-family: 'Lora', serif; margin-bottom: 20px; }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row.form-row.form-row-first { width: 100%; }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row.form-row.form-row-first label { font-weight: 400; }

body:not(.logged-in).woocommerce-account.my-plan #main .woocommerce button.woocommerce-button.button.woocommerce-form-login__submit { padding: 10px 40px; }

body.woocommerce-account.woocommerce-edit-account #primary.content-area { margin-top: 0px; margin-bottom: 0px; }

body:not(.logged-in).woocommerce-account.woocommerce-lost-password article.page { width: 66.66667% !important; margin: 0 auto; }

body:not(.logged-in).woocommerce-account.woocommerce-lost-password article.page .woocommerce { max-width: none; }

body:not(.logged-in).woocommerce-account.woocommerce-lost-password article.page .woocommerce .form .form-row-first { font-weight: 700; }

body:not(.logged-in).woocommerce-account.woocommerce-lost-password article.page .woocommerce .form .form-row-last { float: none; width: 100%; }

.page-banner-wrap .page-banner > .page-banner-image { bottom: 0; background-color: #2b3840; }

#payment.woocommerce-checkout-payment .form-row.place-order { background: #fff; padding: 0px 20px 20px 20px !important; }

#payment.woocommerce-checkout-payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper { background: #f6f6f6; margin-right: -20px; margin-left: -20px; }

#payment.woocommerce-checkout-payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper .validate-required { padding-bottom: 20px !important; }

#payment.woocommerce-checkout-payment .form-row.place-order button#place_order { margin-top: 5px; float: initial; width: 100%; background-color: #F7AE00; box-shadow: -2px 2px 0 0 #CE9100; }

#payment.woocommerce-checkout-payment .form-row.place-order button#place_order:hover { background-color: #CE9100; }

#account-nav { margin-bottom: 15px; }

@media (max-width: 600px) { #account-nav .nav.nav-pills { width: 100vw; margin-right: -15px; height: 100%; display: -ms-flexbox; display: flex; overflow-x: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; -ms-scroll-snap-type: x mandatory; scroll-snap-type: x mandatory; scroll-behavior: smooth; box-shadow: 0px 3px 7px rgba(155, 155, 155, 0.4); }
  #account-nav .nav.nav-pills::-webkit-scrollbar { width: 1px; height: 5px; background-color: #ffffff; }
  #account-nav .nav.nav-pills::-webkit-scrollbar-thumb { background-color: #418ad0; } }

#account-nav .nav.nav-pills li { margin-left: 15px; }

@media (max-width: 600px) { #account-nav .nav.nav-pills li { margin: 0; width: 40%; -ms-flex-negative: 0; flex-shrink: 0; height: 100%; scroll-snap-align: start; display: -ms-flexbox; display: flex; padding-left: 2px; }
  #account-nav .nav.nav-pills li:not(.active) a { opacity: 0.7; } }

#account-nav .nav.nav-pills li.active .my-plan-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/my-plan-wht.svg"); }

#account-nav .nav.nav-pills li.active .account-details-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/edit-account-wht.svg"); }

#account-nav .nav.nav-pills li.active .logout-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/logout-wht.svg"); }

#account-nav .nav.nav-pills li a { border-radius: 0; background: #ffffff; font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 15px; color: #4a4a4a; padding: 15px; display: -ms-flexbox; display: flex; min-width: 200px; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

@media (max-width: 600px) { #account-nav .nav.nav-pills li a { font-size: 13px; width: 100%; padding: 15px; -ms-flex-direction: column; flex-direction: column; text-align: center; min-width: auto; } }

#account-nav .nav.nav-pills li a::after { content: ''; margin-right: 10px; background-size: contain; display: inline-block; width: 25px; height: 25px; background-repeat: no-repeat; background-position: center; }

@media (max-width: 600px) { #account-nav .nav.nav-pills li a::after { width: 100%; height: 20px; margin: 5px 0 0 0; } }

#account-nav .nav.nav-pills li a.my-plan-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/my-plan.svg"); }

#account-nav .nav.nav-pills li a.my-plan-tab:hover::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/my-plan-wht.svg"); }

#account-nav .nav.nav-pills li a.account-details-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/edit-account.svg"); }

#account-nav .nav.nav-pills li a.account-details-tab:hover::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/edit-account-wht.svg"); }

#account-nav .nav.nav-pills li a.logout-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/logout.svg"); }

#account-nav .nav.nav-pills li a.logout-tab:hover::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/logout-wht.svg"); }

@media (max-width: 334px) { #account-nav .nav.nav-pills li a { font-size: 11px; } }

#account-nav .nav.nav-pills li.active a, #account-nav .nav.nav-pills li:hover a { background: #418ad0; color: #ffffff; }

.my-profile-block { background: #ffffff; max-width: 900px; margin: 0 auto; }

@media (min-width: 900px) { .my-profile-block { display: -ms-flexbox; display: flex; padding: 35px 20px 20px; } }

.my-profile-block .profile-navigation { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }

@media (max-width: 900px) { .my-profile-block .profile-navigation { margin-bottom: 20px; } }

@media (min-width: 900px) { .my-profile-block .profile-navigation { margin-left: 20px; } }

.my-profile-block .profile-navigation .profile-photo img { border-radius: 50%; border: 2px solid #418ad0; max-width: 200px; margin-bottom: 20px; width: 100%; }

.my-profile-block .profile-navigation .edit-profile .btn.btn-green { background-color: #6ba913; box-shadow: -2px 2px 0 0 #446b0c; color: #ffffff; }

.my-profile-block .profile-details { width: 100%; }

.my-profile-block .profile-details h1 { font-size: 30px; text-transform: capitalize; }

.my-profile-block .profile-details .table.personal-information { font-family: 'Montserrat', sans-serif; font-size: 16px; }

.my-profile-block .profile-details .table.personal-information thead { background-color: #f6f6f6; }

.my-profile-block .profile-details .table.personal-information tr th, .my-profile-block .profile-details .table.personal-information tr td { border: none; }

.my-profile-block .profile-details .table.personal-information tr td { font-weight: 300; }

.my-profile-block .profile-details .table.personal-information tr strong { font-weight: 500; }

.daily-plan-block { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.daily-plan-block.day-grid { display: -ms-grid; display: grid; -ms-grid-columns: (13%)[7]; grid-template-columns: repeat(7, 13%); -ms-grid-rows: 120px; grid-template-rows: 120px; grid-column-gap: 10px; grid-row-gap: 10px; }

@media (max-width: 600px) { .daily-plan-block.day-grid { -ms-grid-columns: (23%)[4]; grid-template-columns: repeat(4, 23%); -ms-grid-rows: 80px; grid-template-rows: 80px; } }

.daily-plan-block .day { background-color: #ececec; margin-bottom: 20px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 2px; height: 110px; }

@media (min-width: 900px) { .daily-plan-block .day { max-width: 120px; } }

@media (max-width: 600px) { .daily-plan-block .day { height: 80px; margin-bottom: 0; } }

.daily-plan-block .day .plan-content { font-size: 22px; font-weight: bold; text-align: center; }

.daily-plan-block .day.completed .plan-content { font-size: 0; }

.daily-plan-block .day.completed .plan-content:before { content: '\f05d'; font-family: FontAwesome; font-size: 82px; color: #dcdcdc; font-weight: 300; }

.daily-plan-block .day.current-day { background-color: transparent; border: 2px solid #418ad0; }

.daily-plan-block .day.current-day .plan-content { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.daily-plan-block .day.current-day .plan-content:before { content: url(/wp-content/plugins/lsx-health-plan/assets/images/hourglass.svg); height: 40px; }

.daily-plan-block .day.next-day { background-color: #418ad0; }

.daily-plan-block .day.next-day .plan-content { color: #ffffff; }

.daily-plan-block .day.next-day:last-child .plan-content { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.daily-plan-block .day.next-day:last-child .plan-content:before { content: url(/wp-content/plugins/lsx-health-plan/assets/images/trophy.svg); height: 40px; }

#edit-account-tab { padding: 35px 20px 20px; max-width: 1140px; width: 100%; margin: 20px auto 140px; }

@media (max-width: 600px) { #edit-account-tab { padding: 0 10px 20px; margin-top: 0px; }
  #edit-account-tab #account-nav .nav-pills { margin-right: -25px; } }

#edit-account-tab .edit-account-section, #edit-account-tab .stat-section { width: 100%; padding: 30px; background: #ffffff; }

#edit-account-tab .edit-account-section .title-lined, #edit-account-tab .edit-account-section .woocommerce, #edit-account-tab .stat-section .title-lined, #edit-account-tab .stat-section .woocommerce { max-width: 760px; margin-right: 0; }

#edit-account-tab .edit-account-section .woocommerce .woocommerce-MyAccount-content, #edit-account-tab .stat-section .woocommerce .woocommerce-MyAccount-content { width: 100%; }

#edit-account-tab .edit-account-section .woocommerce .woocommerce-EditAccountForm label, #edit-account-tab .edit-account-section .woocommerce .woocommerce-EditAccountForm span em, #edit-account-tab .stat-section .woocommerce .woocommerce-EditAccountForm label, #edit-account-tab .stat-section .woocommerce .woocommerce-EditAccountForm span em { font-weight: 300; }

#edit-account-tab .edit-account-section .my-stats-title, #edit-account-tab .stat-section .my-stats-title { margin-top: 60px; }

#edit-account-tab .edit-account-section .my-stats, #edit-account-tab .stat-section .my-stats { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#edit-account-tab .edit-account-section .my-stats .form-row:before, #edit-account-tab .stat-section .my-stats .form-row:before { color: #418ad0; font-size: 22px; }

#edit-account-tab .edit-account-section .my-stats .form-row:first-child:before, #edit-account-tab .stat-section .my-stats .form-row:first-child:before { content: "Start"; margin-bottom: 20px; }

#edit-account-tab .edit-account-section .my-stats .form-row:nth-child(2):before, #edit-account-tab .stat-section .my-stats .form-row:nth-child(2):before { content: "Goal"; margin-bottom: 20px; }

#edit-account-tab .edit-account-section .my-stats .form-row:nth-child(3):before, #edit-account-tab .stat-section .my-stats .form-row:nth-child(3):before { content: "End"; margin-bottom: 20px; }

@media (max-width: 900px) { #edit-account-tab .edit-account-section .my-stats .form-row, #edit-account-tab .stat-section .my-stats .form-row { -ms-flex-positive: 1; flex-grow: 1; width: 33%; } }

@media (max-width: 600px) { #edit-account-tab .edit-account-section .my-stats .form-row, #edit-account-tab .stat-section .my-stats .form-row { -ms-flex-positive: 1; flex-grow: 1; width: 100%; }
  #edit-account-tab .edit-account-section .my-stats .form-row:nth-child(2):before, #edit-account-tab .edit-account-section .my-stats .form-row:nth-child(3):before, #edit-account-tab .stat-section .my-stats .form-row:nth-child(2):before, #edit-account-tab .stat-section .my-stats .form-row:nth-child(3):before { content: none; }
  #edit-account-tab .edit-account-section .my-stats .form-row:nth-child(4):before, #edit-account-tab .stat-section .my-stats .form-row:nth-child(4):before { content: "Goal"; margin-bottom: 20px; }
  #edit-account-tab .edit-account-section .my-stats .form-row:nth-child(7):before, #edit-account-tab .stat-section .my-stats .form-row:nth-child(7):before { content: "End"; margin-bottom: 20px; } }

#edit-account-tab .edit-account-section .wpua-edit-container, #edit-account-tab .stat-section .wpua-edit-container { margin-top: 60px; }

#edit-account-tab .edit-account-section .wpua-edit-container h3, #edit-account-tab .stat-section .wpua-edit-container h3 { font-size: 0; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

#edit-account-tab .edit-account-section .wpua-edit-container h3:before, #edit-account-tab .stat-section .wpua-edit-container h3:before { content: "My Profile Picture"; font-size: 30px; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 2px solid #418ad0; }

#edit-account-tab .edit-account-section .wpua-edit-container h3:after, #edit-account-tab .stat-section .wpua-edit-container h3:after { content: "Please upload an image of yourself in .jpeg format. Images should be square, to best fit the cropping area, and files sizes kept below 500kb"; font-family: 'Noto Sans', sans-serif; font-size: 15px; }

#edit-account-tab .edit-account-section .wpua-edit-container #wpua-add-existing, #edit-account-tab .edit-account-section .wpua-edit-container #wpua-remove-existing, #edit-account-tab .stat-section .wpua-edit-container #wpua-add-existing, #edit-account-tab .stat-section .wpua-edit-container #wpua-remove-existing { background-color: #dcdcdc; box-shadow: -2px 2px 0 0 #969696; color: #4e4e4e; }

#edit-account-tab .edit-account-section .wpua-edit-container #wpua-add-existing:hover, #edit-account-tab .edit-account-section .wpua-edit-container #wpua-remove-existing:hover, #edit-account-tab .stat-section .wpua-edit-container #wpua-add-existing:hover, #edit-account-tab .stat-section .wpua-edit-container #wpua-remove-existing:hover { background-color: #969696; }

#edit-account-tab .edit-account-section .wpua-edit-container #wpua-undo-button-existing, #edit-account-tab .stat-section .wpua-edit-container #wpua-undo-button-existing { display: none; }

#single-plan-nav { margin-bottom: 15px; }

@media (max-width: 600px) { #single-plan-nav .nav.nav-pills { width: 100vw; margin-right: -15px; margin-top: -55px; height: 100%; display: -ms-flexbox; display: flex; overflow-x: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; -ms-scroll-snap-type: x mandatory; scroll-snap-type: x mandatory; scroll-behavior: smooth; box-shadow: 0px 3px 7px rgba(155, 155, 155, 0.4); }
  #single-plan-nav .nav.nav-pills::-webkit-scrollbar { width: 1px; height: 5px; background-color: #ffffff; }
  #single-plan-nav .nav.nav-pills::-webkit-scrollbar-thumb { background-color: #418ad0; } }

@media (max-width: 319px) { #single-plan-nav .nav.nav-pills { margin-top: -44px; } }

@media (max-width: 600px) { #single-plan-nav .nav.nav-pills li { margin: 0; width: 28%; -ms-flex-negative: 0; flex-shrink: 0; height: 100%; scroll-snap-align: start; display: -ms-flexbox; display: flex; padding-left: 2px; }
  #single-plan-nav .nav.nav-pills li:not(.active) a { opacity: 0.7; } }

@media (max-width: 333px) { #single-plan-nav .nav.nav-pills li { min-height: 90px; } }

#single-plan-nav .nav.nav-pills li.active .overview-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/eye-w.svg"); }

#single-plan-nav .nav.nav-pills li.active .warm-up-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/warm-w.svg"); }

#single-plan-nav .nav.nav-pills li.active .workout-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/work-w.svg"); }

#single-plan-nav .nav.nav-pills li.active .meal-plan-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/meal-w.svg"); }

#single-plan-nav .nav.nav-pills li.active .recipes-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/recipes-w.svg"); }

#single-plan-nav .nav.nav-pills li a { border-radius: 0; background: #ffffff; font-family: 'Lora', serif; font-weight: bold; font-size: 18px; color: #4a4a4a; padding: 15px 35px; display: -ms-flexbox; display: flex; }

@media (max-width: 600px) { #single-plan-nav .nav.nav-pills li a { font-size: 13px; width: 100%; padding: 15px; -ms-flex-direction: column; flex-direction: column; text-align: center; } }

#single-plan-nav .nav.nav-pills li a::before { content: ''; margin-left: 10px; background-size: contain; display: inline-block; width: 25px; height: 25px; background-repeat: no-repeat; background-position: center; }

@media (max-width: 600px) { #single-plan-nav .nav.nav-pills li a::before { width: 100%; height: 20px; } }

#single-plan-nav .nav.nav-pills li a.overview-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/eye.svg"); }

#single-plan-nav .nav.nav-pills li a.overview-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/eye-w.svg"); }

#single-plan-nav .nav.nav-pills li a.warm-up-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/warm.svg"); }

#single-plan-nav .nav.nav-pills li a.warm-up-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/warm-w.svg"); }

#single-plan-nav .nav.nav-pills li a.workout-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/work.svg"); }

#single-plan-nav .nav.nav-pills li a.workout-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/work-w.svg"); }

#single-plan-nav .nav.nav-pills li a.meal-plan-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/meal.svg"); }

#single-plan-nav .nav.nav-pills li a.meal-plan-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/meal-w.svg"); }

#single-plan-nav .nav.nav-pills li a.recipes-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/recipes.svg"); }

#single-plan-nav .nav.nav-pills li a.recipes-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/recipes-w.svg"); }

#single-plan-nav .nav.nav-pills li.active a, #single-plan-nav .nav.nav-pills li:hover a { background: #418ad0; color: #ffffff; }

.my-plan-container .lsx-container-content { padding: 15px 2em; }

.my-plan-container .lsx-container-content .lsx-block-container .lsx-container-content { padding: 15px 10px; }

.archive-plan .row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.post-type-archive-recipe .bottom-single-recipe { margin-top: 4.25rem; margin-bottom: -8.4rem; }

.single-plan .entry-content, .single-plan .tab-content-plan, .archive-plan .entry-content, .archive-plan .tab-content-plan { background: #ffffff; padding: 25px 40px; }

@media (max-width: 992px) { .single-plan .entry-content, .single-plan .tab-content-plan, .archive-plan .entry-content, .archive-plan .tab-content-plan { padding: 15px 10px; } }

.single-plan .extra-title span, .archive-plan .extra-title span { color: #418ad0; font-weight: bold; }

.single-plan .box-shadow, .archive-plan .box-shadow { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); }

.single-plan .btn-full, .archive-plan .btn-full { width: 100%; }

.single-plan .tab-content-plan, .archive-plan .tab-content-plan { margin-left: 0; margin-right: 0; }

@media (min-width: 992px) { .single-plan .tab-content-plan, .archive-plan .tab-content-plan { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .single-plan .tab-content-plan .col-md-4, .archive-plan .tab-content-plan .col-md-4 { display: -ms-flexbox; display: flex; } }

@media (max-width: 992px) { .single-plan .tab-content-plan .col-md-4, .archive-plan .tab-content-plan .col-md-4 { padding: 0; } }

.single-plan .tab-content-plan .lsx-health-plan-box, .archive-plan .tab-content-plan .lsx-health-plan-box { background: #f6f6f6; padding: 25px 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); margin-bottom: 30px; width: 100%; }

@media (min-width: 992px) { .single-plan .tab-content-plan .lsx-health-plan-box, .archive-plan .tab-content-plan .lsx-health-plan-box { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; } }

.single-plan .tab-content-plan .lsx-health-plan-box .title, .archive-plan .tab-content-plan .lsx-health-plan-box .title { font-size: 30px; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

.single-plan .tab-content-plan .lsx-health-plan-box .title::after, .archive-plan .tab-content-plan .lsx-health-plan-box .title::after { content: ''; margin-left: 10px; background-size: contain; display: inline-block; width: 25px; background-repeat: no-repeat; background-position: center; }

.single-plan .tab-content-plan .lsx-health-plan-box .title.warm-up-title::after, .archive-plan .tab-content-plan .lsx-health-plan-box .title.warm-up-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/warm.svg); }

.single-plan .tab-content-plan .lsx-health-plan-box .title.work-out-title::after, .archive-plan .tab-content-plan .lsx-health-plan-box .title.work-out-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/work.svg); width: 45px; }

.single-plan .tab-content-plan .lsx-health-plan-box .title.meal-plan-title::after, .archive-plan .tab-content-plan .lsx-health-plan-box .title.meal-plan-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/meal.svg); width: 35px; }

.single-plan .tab-content-plan .lsx-health-plan-box .title.recipes-title::after, .archive-plan .tab-content-plan .lsx-health-plan-box .title.recipes-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/recipes.svg); width: 55px; }

.single-plan .tab-content-plan .lsx-health-plan-box .title.downloads-title::after, .archive-plan .tab-content-plan .lsx-health-plan-box .title.downloads-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/downloads.svg); width: 55px; }

.single-plan .tab-content-plan .lsx-health-plan-box .btn, .archive-plan .tab-content-plan .lsx-health-plan-box .btn { width: 100%; }

.single-plan .tab-content-plan .lsx-health-plan-box .spacer + .btn, .archive-plan .tab-content-plan .lsx-health-plan-box .spacer + .btn { margin-bottom: 20px; }

.single-plan .status-plan-buttons, .archive-plan .status-plan-buttons { padding: 25px 20px; }

.single-plan .content-box, .archive-plan .content-box { margin: 30px 0; background: #f6f6f6; padding: 12px 16px; }

.single-plan .blue-title, .archive-plan .blue-title { color: #418ad0; font-weight: bold; }

.single-plan .single-plan-section-title::before, .archive-plan .single-plan-section-title::before { content: ''; margin-bottom: 15px; background-size: contain; display: inline-block; width: 50px; height: 50px; background-repeat: no-repeat; background-position: center; }

.single-plan .single-plan-section-title.meal-plan::before, .archive-plan .single-plan-section-title.meal-plan::before { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/meal.svg); }

.single-plan .single-plan-section-title.workout::before, .archive-plan .single-plan-section-title.workout::before { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/work.svg); width: 80px; }

.single-plan .single-plan-section-title.recipes-plan::before, .archive-plan .single-plan-section-title.recipes-plan::before { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/recipes.svg); }

.single-plan .single-plan-inner.workout-content, .archive-plan .single-plan-inner.workout-content { max-width: 1000px; }

.single-plan .single-plan-inner.workout-content .workout-instructions, .archive-plan .single-plan-inner.workout-content .workout-instructions { padding-right: 10px; padding-left: 10px; }

.single-plan .single-plan-inner.workout-content .workout-instructions h3, .archive-plan .single-plan-inner.workout-content .workout-instructions h3 { font-family: 'Noto Sans', sans-serif; font-weight: bold; margin-bottom: 5px; }

.single-plan .single-plan-inner.workout-content .workout-instructions .single-plan-inner-buttons, .archive-plan .single-plan-inner.workout-content .workout-instructions .single-plan-inner-buttons { padding: 0; }

.single-plan .single-plan-inner.workout-content .sets .set-title, .archive-plan .single-plan-inner.workout-content .sets .set-title { font-family: "Noto Sans"; text-transform: uppercase; color: #418ad0; }

.single-plan .single-plan-inner.workout-content .sets .set-content, .single-plan .single-plan-inner.workout-content .sets .set-table, .archive-plan .single-plan-inner.workout-content .sets .set-content, .archive-plan .single-plan-inner.workout-content .sets .set-table { font-size: 16px; color: #222222; }

.single-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr th, .archive-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr th { border-bottom: 2px solid #418ad0; padding: 5px 0; }

.single-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr td, .archive-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr td { border-bottom: 1px solid #E1E1E1; padding: 20px 0; }

.single-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr td.video-button-item button, .archive-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr td.video-button-item button { background-color: transparent; border: none; }

.single-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr td.video-button-item button .fa, .archive-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr td.video-button-item button .fa { font-size: 40px; color: #418ad0; }

.single-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr td.video-button-item button:hover .fa, .archive-plan .single-plan-inner.workout-content .sets .set-table .workout-table tr td.video-button-item button:hover .fa { color: #f7ae00; }

.single-plan .single-plan-inner.workout-content .modal.in, .archive-plan .single-plan-inner.workout-content .modal.in { background-color: rgba(0, 0, 0, 0.5); }

.single-plan .single-plan-inner .eating-row .eating-column .content-box .eating-title, .single-plan .single-plan-inner .eating-row .eating-column .content-box h3, .archive-plan .single-plan-inner .eating-row .eating-column .content-box .eating-title, .archive-plan .single-plan-inner .eating-row .eating-column .content-box h3 { font-family: "Noto Sans"; font-size: 22px; font-weight: bold; }

@media (min-width: 992px) { .single-plan .single-plan-inner .tip-row, .archive-plan .single-plan-inner .tip-row { display: -ms-flexbox; display: flex; } }

.single-plan .single-plan-inner .tip-row .tip-left, .single-plan .single-plan-inner .tip-row .tip-middle, .single-plan .single-plan-inner .tip-row .tip-right, .archive-plan .single-plan-inner .tip-row .tip-left, .archive-plan .single-plan-inner .tip-row .tip-middle, .archive-plan .single-plan-inner .tip-row .tip-right { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; min-height: 240px; }

.single-plan .single-plan-inner .tip-row .eating-title, .single-plan .single-plan-inner .tip-row h3, .archive-plan .single-plan-inner .tip-row .eating-title, .archive-plan .single-plan-inner .tip-row h3 { font-family: "Noto Sans"; font-size: 22px; }

@media (max-width: 600px) { .single-plan .single-plan-inner .tip-row .tip-right, .archive-plan .single-plan-inner .tip-row .tip-right { margin-top: 30px; } }

.single-plan .single-plan-inner.recipes-content .recipe-column .recipe-title, .archive-plan .single-plan-inner.recipes-content .recipe-column .recipe-title { font-size: 22px; font-family: 'Noto Sans', sans-serif; }

.single-plan .single-plan-inner.recipes-content .recipe-column .recipe-table, .archive-plan .single-plan-inner.recipes-content .recipe-column .recipe-table { width: 100%; margin-bottom: 25px; table-layout: fixed; }

.single-plan .single-plan-inner.recipes-content .recipe-column .btn, .archive-plan .single-plan-inner.recipes-content .recipe-column .btn { margin-bottom: 25px; }

.single-plan .single-plan-inner-buttons, .archive-plan .single-plan-inner-buttons { padding: 45px 0; }

@media (min-width: 600px) { .single-plan .single-plan-inner-buttons, .archive-plan .single-plan-inner-buttons { display: -ms-flexbox; display: flex; }
  .single-plan .single-plan-inner-buttons .complete-plan-btn, .archive-plan .single-plan-inner-buttons .complete-plan-btn { margin-left: 40px; } }

@media (max-width: 600px) { .single-plan .single-plan-inner-buttons .complete-plan-btn, .single-plan .single-plan-inner-buttons .back-plan-btn, .archive-plan .single-plan-inner-buttons .complete-plan-btn, .archive-plan .single-plan-inner-buttons .back-plan-btn { margin-bottom: 20px; }
  .single-plan .single-plan-inner-buttons .complete-plan-btn .btn, .single-plan .single-plan-inner-buttons .back-plan-btn .btn, .archive-plan .single-plan-inner-buttons .complete-plan-btn .btn, .archive-plan .single-plan-inner-buttons .back-plan-btn .btn { width: 100%; } }

.lsx-health-plan-modal .modal-header { display: none; }

.lsx-health-plan-modal .modal-content { padding: 40px; }

.lsx-health-plan-modal .modal-title { margin-bottom: 25px; }

@media (max-width: 600px) { .lsx-health-plan-modal .modal-body iframe { height: 100%; } }

#single-recipe { margin-bottom: -8.4rem; }

#single-recipe .recipe-table tbody td:first-child { font-weight: bold; }

#single-recipe .bottom-single-recipe { margin-top: 4.25rem; }

#single-recipe .bottom-single-recipe p { font-size: 24px; }
