/** LSX Health Plan styles. @package lsx-health-plan */
.title-lined { padding-bottom: 20px; border-bottom: 2px solid #418ad0; }

table, .table { width: 100%; table-layout: fixed; }

.woocommerce-notices-wrapper, .woocommerce-form-login-toggle, .woocommerce-form-coupon-toggle { display: none; }

#lsx-videos-shortcode, #lsx-recipes-shortcode, #lsx-tips-shortcode { background: #ffffff; padding: 30px 15px; width: 100%; margin-top: 20px; margin-bottom: 20x; }

#lsx-videos-shortcode h2, #lsx-recipes-shortcode h2, #lsx-tips-shortcode h2 { width: 100%; }

#lsx-videos-shortcode .lsx-videos-title, #lsx-videos-shortcode .lsx-recipes-title, #lsx-recipes-shortcode .lsx-videos-title, #lsx-recipes-shortcode .lsx-recipes-title, #lsx-tips-shortcode .lsx-videos-title, #lsx-tips-shortcode .lsx-recipes-title { font-size: 20px; font-family: 'Noto Sans', sans-serif; }

#lsx-recipes-shortcode .lsx-recipes-shortcode { width: 100%; }

#lsx-recipes-shortcode .lsx-recipes-shortcode table tr th { font-weight: 300; }

@media (min-width: 768px) { .vertical-align { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; } }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce { max-width: 600px; margin-left: auto; margin-right: auto; }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce p.woocommerce-LostPassword.lost_password a { color: #f7ae00; }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce .woocommerce-ResetPassword.lost_reset_password p:first-child:before { content: 'Lost your password?'; font-size: 30px; display: block; font-family: 'Lora', serif; margin-bottom: 20px; }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row.form-row.form-row-first { width: 100%; }

body:not(.logged-in).woocommerce-account.my-plan .woocommerce .woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row.form-row.form-row-first label { font-weight: 400; }

body:not(.logged-in).woocommerce-account.my-plan #main .woocommerce button.woocommerce-button.button.woocommerce-form-login__submit { padding: 10px 40px; }

.page-banner-wrap .page-banner > .page-banner-image { bottom: 0; background-color: #2b3840; }

#payment.woocommerce-checkout-payment .form-row.place-order { background: #fff; padding: 0px 20px 20px 20px !important; }

#payment.woocommerce-checkout-payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper { background: #f6f6f6; margin-left: -20px; margin-right: -20px; }

#payment.woocommerce-checkout-payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper .validate-required { padding-bottom: 20px !important; }

#payment.woocommerce-checkout-payment .form-row.place-order button#place_order { margin-top: 5px; float: initial; width: 100%; background-color: #F7AE00; box-shadow: 2px 2px 0 0 #CE9100; }

#payment.woocommerce-checkout-payment .form-row.place-order button#place_order:hover { background-color: #CE9100; }

#account-nav { margin-bottom: 15px; }

#account-nav .nav.nav-pills li { margin-right: 15px; }

@media (max-width: 600px) { #account-nav .nav.nav-pills li { width: 100%; margin: 0; } }

#account-nav .nav.nav-pills li.active .my-plan-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/my-plan-wht.svg"); }

#account-nav .nav.nav-pills li.active .account-details-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/edit-account-wht.svg"); }

#account-nav .nav.nav-pills li.active .logout-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/logout-wht.svg"); }

#account-nav .nav.nav-pills li a { border-radius: 0; background: #ffffff; font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 15px; color: #4a4a4a; padding: 15px; display: -ms-flexbox; display: flex; min-width: 200px; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

#account-nav .nav.nav-pills li a::after { content: ''; margin-left: 10px; background-size: contain; display: inline-block; width: 25px; height: 25px; background-repeat: no-repeat; background-position: center; }

#account-nav .nav.nav-pills li a.my-plan-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/my-plan.svg"); }

#account-nav .nav.nav-pills li a.my-plan-tab:hover::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/my-plan-wht.svg"); }

#account-nav .nav.nav-pills li a.account-details-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/edit-account.svg"); }

#account-nav .nav.nav-pills li a.account-details-tab:hover::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/edit-account-wht.svg"); }

#account-nav .nav.nav-pills li a.logout-tab::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/logout.svg"); }

#account-nav .nav.nav-pills li a.logout-tab:hover::after { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/logout-wht.svg"); }

#account-nav .nav.nav-pills li.active a, #account-nav .nav.nav-pills li:hover a { background: #418ad0; color: #ffffff; }

.my-profile-block { background: #ffffff; padding: 35px 20px 20px; max-width: 900px; margin: 0 auto; }

@media (min-width: 900px) { .my-profile-block { display: -ms-flexbox; display: flex; } }

.my-profile-block .profile-navigation { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }

@media (max-width: 900px) { .my-profile-block .profile-navigation { margin-bottom: 20px; } }

.my-profile-block .profile-navigation .profile-photo img { border-radius: 50%; border: 2px solid #418ad0; max-width: 200px; margin-bottom: 20px; }

@media (min-width: 900px) { .my-profile-block .profile-navigation .profile-photo img { margin-right: 20px; } }

.my-profile-block .profile-navigation .edit-profile .btn.btn-green { background-color: #6ba913; box-shadow: 2px 2px 0 0 #446b0c; color: #ffffff; }

.my-profile-block .profile-details { width: 100%; }

.my-profile-block .profile-details h1 { font-size: 30px; text-transform: capitalize; }

.my-profile-block .profile-details .table.personal-information { font-family: 'Montserrat', sans-serif; font-size: 16px; }

.my-profile-block .profile-details .table.personal-information thead { background-color: #f6f6f6; }

.my-profile-block .profile-details .table.personal-information tr th, .my-profile-block .profile-details .table.personal-information tr td { border: none; }

.my-profile-block .profile-details .table.personal-information tr td { font-weight: 300; }

.my-profile-block .profile-details .table.personal-information tr strong { font-weight: 500; }

.daily-plan-block { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.daily-plan-block .day { background-color: #ececec; margin-bottom: 20px; -ms-flex-positive: 1; flex-grow: 1; width: calc(100% * (1/7)); height: 110px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 2px; -ms-flex-preferred-size: 40%; flex-basis: 40%; max-width: 90px; }

@media (min-width: 900px) { .daily-plan-block .day { max-width: 120px; } }

.daily-plan-block .day .plan-content { font-size: 22px; font-weight: bold; text-align: center; }

.daily-plan-block .day.day-completed .plan-content { font-size: 0; }

.daily-plan-block .day.day-completed .plan-content:before { content: '\f05d'; font-family: FontAwesome; font-size: 82px; color: #dcdcdc; font-weight: 300; }

.daily-plan-block .day.current-day { background-color: transparent; border: 2px solid #418ad0; }

.daily-plan-block .day.current-day .plan-content { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.daily-plan-block .day.current-day .plan-content:before { content: url(/wp-content/plugins/lsx-health-plan/assets/images/hourglass.svg); height: 40px; }

.daily-plan-block .day.next-day { background-color: #418ad0; }

.daily-plan-block .day.next-day .plan-content { color: #ffffff; }

.daily-plan-block .day.next-day:last-child .plan-content { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.daily-plan-block .day.next-day:last-child .plan-content:before { content: url(/wp-content/plugins/lsx-health-plan/assets/images/trophy.svg); height: 40px; }

#edit-account-tab { padding: 35px 20px 20px; max-width: 900px; margin: 20px auto 140px; }

#edit-account-tab .edit-account-section, #edit-account-tab .stat-section { width: 100%; padding: 30px; background: #ffffff; }

#edit-account-tab .edit-account-section .woocommerce .woocommerce-MyAccount-content, #edit-account-tab .stat-section .woocommerce .woocommerce-MyAccount-content { width: 100%; }

#edit-account-tab .edit-account-section .woocommerce .woocommerce-EditAccountForm label, #edit-account-tab .edit-account-section .woocommerce .woocommerce-EditAccountForm span em, #edit-account-tab .stat-section .woocommerce .woocommerce-EditAccountForm label, #edit-account-tab .stat-section .woocommerce .woocommerce-EditAccountForm span em { font-weight: 300; }

#single-plan-nav { margin-bottom: 15px; }

@media (max-width: 600px) { #single-plan-nav .nav.nav-pills li { width: 100%; margin: 0; } }

#single-plan-nav .nav.nav-pills li.active .overview-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/eye-w.svg"); }

#single-plan-nav .nav.nav-pills li.active .warm-up-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/warm-w.svg"); }

#single-plan-nav .nav.nav-pills li.active .workout-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/work-w.svg"); }

#single-plan-nav .nav.nav-pills li.active .meal-plan-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/meal-w.svg"); }

#single-plan-nav .nav.nav-pills li.active .recipes-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/recipes-w.svg"); }

#single-plan-nav .nav.nav-pills li a { border-radius: 0; background: #ffffff; font-family: 'Lora', serif; font-weight: bold; font-size: 18px; color: #4a4a4a; padding: 15px 35px; display: -ms-flexbox; display: flex; }

#single-plan-nav .nav.nav-pills li a::before { content: ''; margin-right: 10px; background-size: contain; display: inline-block; width: 25px; height: 25px; background-repeat: no-repeat; background-position: center; }

#single-plan-nav .nav.nav-pills li a.overview-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/eye.svg"); }

#single-plan-nav .nav.nav-pills li a.overview-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/eye-w.svg"); }

#single-plan-nav .nav.nav-pills li a.warm-up-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/warm.svg"); }

#single-plan-nav .nav.nav-pills li a.warm-up-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/warm-w.svg"); }

#single-plan-nav .nav.nav-pills li a.workout-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/work.svg"); }

#single-plan-nav .nav.nav-pills li a.workout-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/work-w.svg"); }

#single-plan-nav .nav.nav-pills li a.meal-plan-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/meal.svg"); }

#single-plan-nav .nav.nav-pills li a.meal-plan-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/meal-w.svg"); }

#single-plan-nav .nav.nav-pills li a.recipes-tab::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/recipes.svg"); }

#single-plan-nav .nav.nav-pills li a.recipes-tab:hover::before { background-image: url("/wp-content/plugins/lsx-health-plan/assets/images/recipes-w.svg"); }

#single-plan-nav .nav.nav-pills li.active a, #single-plan-nav .nav.nav-pills li:hover a { background: #418ad0; color: #ffffff; }

.single-plan .entry-content, .single-plan .tab-content-plan { background: #ffffff; padding: 25px 40px; }

.single-plan .extra-title span { color: #418ad0; font-weight: bold; }

.single-plan .box-shadow { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); }

.single-plan .btn-full { width: 100%; }

.single-plan .tab-content-plan { margin-right: 0; margin-left: 0; }

@media (min-width: 992px) { .single-plan .tab-content-plan { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .single-plan .tab-content-plan .col-md-4 { display: -ms-flexbox; display: flex; } }

.single-plan .tab-content-plan .lsx-health-plan-box { background: #f6f6f6; padding: 25px 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); margin-bottom: 30px; width: 100%; }

@media (min-width: 992px) { .single-plan .tab-content-plan .lsx-health-plan-box { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; } }

.single-plan .tab-content-plan .lsx-health-plan-box .title { font-size: 30px; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

.single-plan .tab-content-plan .lsx-health-plan-box .title::after { content: ''; margin-right: 10px; background-size: contain; display: inline-block; width: 25px; background-repeat: no-repeat; background-position: center; }

.single-plan .tab-content-plan .lsx-health-plan-box .title.warm-up-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/warm.svg); }

.single-plan .tab-content-plan .lsx-health-plan-box .title.work-out-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/work.svg); width: 45px; }

.single-plan .tab-content-plan .lsx-health-plan-box .title.meal-plan-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/meal.svg); width: 35px; }

.single-plan .tab-content-plan .lsx-health-plan-box .title.recipes-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/recipes.svg); width: 55px; }

.single-plan .tab-content-plan .lsx-health-plan-box .title.downloads-title::after { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/downloads.svg); width: 55px; }

.single-plan .tab-content-plan .lsx-health-plan-box .btn { width: 100%; }

.single-plan .tab-content-plan .lsx-health-plan-box .spacer + .btn { margin-bottom: 20px; }

.single-plan .content-box { margin: 30px 0; background: #f6f6f6; padding: 12px 16px; }

.single-plan .blue-title { color: #418ad0; font-weight: bold; }

.single-plan .single-plan-section-title::before { content: ''; margin-bottom: 15px; background-size: contain; display: inline-block; width: 50px; height: 50px; background-repeat: no-repeat; background-position: center; }

.single-plan .single-plan-section-title.meal-plan::before { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/meal.svg); }

.single-plan .single-plan-section-title.workout::before { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/work.svg); width: 80px; }

.single-plan .single-plan-section-title.recipes-plan::before { background-image: url(/wp-content/plugins/lsx-health-plan/assets/images/recipes.svg); }

.single-plan .single-plan-inner.workout-content { max-width: 1000px; }

.single-plan .single-plan-inner.workout-content .workout-instructions { padding-left: 10px; padding-right: 10px; }

.single-plan .single-plan-inner.workout-content .workout-instructions h3 { font-family: 'Noto Sans', sans-serif; font-weight: bold; margin-bottom: 5px; }

.single-plan .single-plan-inner.workout-content .workout-instructions .single-plan-inner-buttons { padding: 0; }

.single-plan .single-plan-inner.workout-content .set .set-title { font-family: "Noto Sans"; text-transform: uppercase; color: #418ad0; }

.single-plan .single-plan-inner.workout-content .set .set-content, .single-plan .single-plan-inner.workout-content .set .set-table { font-size: 16px; color: #222222; }

.single-plan .single-plan-inner.workout-content .set .set-table .workout-table tr th { border-bottom: 2px solid #418ad0; padding: 5px 0; }

.single-plan .single-plan-inner.workout-content .set .set-table .workout-table tr td { border-bottom: 1px solid #E1E1E1; padding: 20px 0; }

.single-plan .single-plan-inner.workout-content .set .set-table .workout-table tr td.video-button-item .fa { font-size: 40px; }

.single-plan .single-plan-inner .eating-row .eating-column .content-box .eating-title, .single-plan .single-plan-inner .eating-row .eating-column .content-box h3 { font-family: "Noto Sans"; font-size: 22px; font-weight: bold; }

@media (min-width: 600px) { .single-plan .single-plan-inner .tip-row { display: -ms-flexbox; display: flex; } }

.single-plan .single-plan-inner .tip-row .tip-left, .single-plan .single-plan-inner .tip-row .tip-middle, .single-plan .single-plan-inner .tip-row .tip-right { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; min-height: 240px; }

.single-plan .single-plan-inner .tip-row .eating-title, .single-plan .single-plan-inner .tip-row h3 { font-family: "Noto Sans"; font-size: 22px; }

.single-plan .single-plan-inner .tip-row .tip-right .quick-tip { margin: 0; }

.single-plan .single-plan-inner .tip-row .tip-right .quick-tip h3 { color: #418ad0; text-transform: uppercase; font-weight: bold; }

.single-plan .single-plan-inner .tip-row .tip-right .quick-tip h4 { font-family: "Noto Sans"; font-size: 16px; text-transform: uppercase; margin: 0; font-weight: 600; }

.single-plan .single-plan-inner .tip-row .tip-right .quick-tip .tip-item { font-size: 16px; }

.single-plan .single-plan-inner .tip-row .tip-right #quick-tip .carousel-indicators { clear: both; text-align: center; }

.single-plan .single-plan-inner .tip-row .tip-right #quick-tip .carousel-indicators li { margin-left: 5px; margin-right: 5px; display: inline-block; width: 10px; height: 10px; text-indent: -999px; cursor: pointer; background-color: transparent; border: 2px solid #cdd0d7; border-radius: 10px; }

@media (max-width: 600px) { .single-plan .single-plan-inner .tip-row .tip-right { margin-top: 30px; } }

.single-plan .single-plan-inner.recipes-content .recipe-column .recipe-title { font-size: 22px; font-family: 'Noto Sans', sans-serif; }

.single-plan .single-plan-inner.recipes-content .recipe-column .recipe-table { width: 100%; margin-bottom: 25px; table-layout: fixed; }

.single-plan .single-plan-inner.recipes-content .recipe-column .btn { margin-bottom: 25px; }

.single-plan .single-plan-inner-buttons { padding: 45px 0; }

@media (min-width: 600px) { .single-plan .single-plan-inner-buttons { display: -ms-flexbox; display: flex; }
  .single-plan .single-plan-inner-buttons .complete-plan-btn { margin-right: 40px; } }

@media (max-width: 600px) { .single-plan .single-plan-inner-buttons .complete-plan-btn, .single-plan .single-plan-inner-buttons .back-plan-btn { margin-bottom: 40px; }
  .single-plan .single-plan-inner-buttons .complete-plan-btn .btn, .single-plan .single-plan-inner-buttons .back-plan-btn .btn { width: 100%; } }

/*# sourceMappingURL=maps/lsx-health-plan.css.map */
