/** LSX Health Plan styles (admin). @package lsx-health-plan */
.cmb-row.lsx-admin-row .lsx-field-col, .cmb-row.cmb2-id-exercise-tips .lsx-field-col { display: inline-block; vertical-align: top; border-bottom: 0px solid #e9e9e9 !important; }

.cmb-row.lsx-admin-row .lsx-field-col .cmb-th, .cmb-row.cmb2-id-exercise-tips .lsx-field-col .cmb-th { padding: 0 0 10px 10px; }

.cmb-row.lsx-admin-row .lsx-field-col .cmb-th + .cmb-td, .cmb-row.cmb2-id-exercise-tips .lsx-field-col .cmb-th + .cmb-td { width: 100%; float: left; }

.cmb-row.lsx-admin-row .lsx-field-thumbnail, .cmb-row.cmb2-id-exercise-tips .lsx-field-thumbnail { width: 25%; }

.cmb-row.lsx-admin-row .lsx-field-thumbnail .regular-text, .cmb-row.cmb2-id-exercise-tips .lsx-field-thumbnail .regular-text { display: none; }

.cmb-row.lsx-admin-row .lsx-field-thumbnail input, .cmb-row.cmb2-id-exercise-tips .lsx-field-thumbnail input { float: none; margin-right: 0px !important; margin-bottom: 10px; }

.cmb-row.lsx-admin-row .lsx-field-content, .cmb-row.cmb2-id-exercise-tips .lsx-field-content { width: 74%; }

.cmb-row.lsx-admin-row .lsx-field-content textarea, .cmb-row.cmb2-id-exercise-tips .lsx-field-content textarea { max-width: 500px; width: 100%; }

.cmb-row.lsx-admin-row .cmb-remove-field-row, .cmb-row.cmb2-id-exercise-tips .cmb-remove-field-row { border-top: 1px solid #e9e9e9; }
