/** LSX Health Plan styles (admin). @package lsx-health-plan */
/** The CMB2 Settings Page Tabbed Theme. @package lsx-search */
/* CMB2 Settings Styles */
.wp-admin.plan_page_lsx_health_plan_options span.version { font-size: 0.4em; font-weight: 700; position: relative; top: -4px; right: 5px; padding: 2px 5px; border: 1px solid #ccc; background: #f5f5f5; border-radius: 10px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

.wp-admin.plan_page_lsx_health_plan_options .wp-filter { background: none; border: none; -webkit-box-shadow: none; box-shadow: none; margin: 0; padding-right: 0; }

.wp-admin.plan_page_lsx_health_plan_options .wp-filter .filter-links .current { border-bottom: none; font-weight: 600; color: #23282d; }

.wp-admin.plan_page_lsx_health_plan_options .wp-filter .filter-links .current:hover { color: #23282d; }

.wp-admin.plan_page_lsx_health_plan_options .wp-filter .filter-links > li > a { color: #0073aa; border-bottom: none; margin: 2px; }

.wp-admin.plan_page_lsx_health_plan_options .wp-filter .filter-links > li > a:hover { color: #00a0d2; }

.wp-admin.plan_page_lsx_health_plan_options .wp-filter .filter-links > li:nth-of-type(1) > a { margin-right: 0; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table { margin-top: 0; border: 1px solid transparent; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

@media only screen and (min-width: 1000px) { .wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row.cmb-type-colorpicker .cmb-td { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row h3.cmb2-metabox-title { color: #23282d; font-size: 17px; margin: 1em 0; font-weight: 600; -webkit-font-smoothing: subpixel-antialiased; line-height: 1.4em; margin-bottom: 0px; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row div.cmb-th { text-align: right; padding: 20px 0 20px 10px; width: 200px; font-size: 14px; line-height: 1.3; font-weight: 600; color: #23282d; text-shadow: none; vertical-align: baseline; min-width: 210px !important; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row div.cmb-td { text-align: right !important; padding: 20px 0 20px 10px !important; margin-left: 15px; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row div.cmb-td:nth-of-type(1) { padding-top: 0px !important; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row div.cmb-td .cmb2-metabox-title { margin-top: 0px; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row div.cmb-td select { font-size: 14px; line-height: 2; color: #32373c; border-color: #7e8993; -webkit-box-shadow: none; box-shadow: none; border-radius: 3px; padding: 0 8px 0 24px; min-height: 30px; max-width: 25rem; -webkit-appearance: none; background-size: 16px 16px; cursor: pointer; vertical-align: middle; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row div.cmb-td .cmb2-media-status { padding-top: 10px; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row div.cmb-td input.cmb2-upload-file { margin-left: 15px; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row p.cmb2-metabox-description { margin: 2px 0 5px; color: #666; font-style: italic; line-height: 1.5; margin-top: 4px; margin-bottom: 0; }

.wp-admin.plan_page_lsx_health_plan_options .cmb2-wrap.form-table .tab.tab-nav .cmb-row input[type='radio'] { margin-top: -4px; margin-left: 4px; float: none; }

.block-editor .cmb-post-search-ajax-results li a.remover { float: initial; }

.cmb-row.lsx-admin-row .lsx-field-col, .cmb-row.cmb2-id-exercise-tips .lsx-field-col, .cmb-row.cmb2-id-exercise-details .lsx-field-col { display: inline-block; vertical-align: top; border-bottom: 0px solid #e9e9e9 !important; }

.cmb-row.lsx-admin-row .lsx-field-col .cmb-th, .cmb-row.cmb2-id-exercise-tips .lsx-field-col .cmb-th, .cmb-row.cmb2-id-exercise-details .lsx-field-col .cmb-th { padding: 0 0 10px 10px; width: 100%; }

.cmb-row.lsx-admin-row .lsx-field-col .cmb-th + .cmb-td, .cmb-row.cmb2-id-exercise-tips .lsx-field-col .cmb-th + .cmb-td, .cmb-row.cmb2-id-exercise-details .lsx-field-col .cmb-th + .cmb-td { width: 100%; float: left; }

.cmb-row.lsx-admin-row .lsx-field-col .cmb2-metabox-description, .cmb-row.cmb2-id-exercise-tips .lsx-field-col .cmb2-metabox-description, .cmb-row.cmb2-id-exercise-details .lsx-field-col .cmb2-metabox-description { width: 100%; padding-top: .5em; }

.cmb-row.lsx-admin-row .lsx-field-col-20, .cmb-row.cmb2-id-exercise-tips .lsx-field-col-20, .cmb-row.cmb2-id-exercise-details .lsx-field-col-20 { width: 20%; }

.cmb-row.lsx-admin-row .lsx-field-col-25, .cmb-row.cmb2-id-exercise-tips .lsx-field-col-25, .cmb-row.cmb2-id-exercise-details .lsx-field-col-25 { width: 25%; }

.cmb-row.lsx-admin-row .lsx-field-col-33, .cmb-row.cmb2-id-exercise-tips .lsx-field-col-33, .cmb-row.cmb2-id-exercise-details .lsx-field-col-33 { width: 30.333% !important; padding-left: 2%; }

.cmb-row.lsx-admin-row .lsx-field-col-50, .cmb-row.cmb2-id-exercise-tips .lsx-field-col-50, .cmb-row.cmb2-id-exercise-details .lsx-field-col-50 { width: 50%; }

.cmb-row.lsx-admin-row .lsx-field-col-66, .cmb-row.cmb2-id-exercise-tips .lsx-field-col-66, .cmb-row.cmb2-id-exercise-details .lsx-field-col-66 { width: 66.333%; }

.cmb-row.lsx-admin-row .lsx-field-col-75, .cmb-row.cmb2-id-exercise-tips .lsx-field-col-75, .cmb-row.cmb2-id-exercise-details .lsx-field-col-75 { width: 75%; }

.cmb-row.lsx-admin-row .lsx-field-col-80, .cmb-row.cmb2-id-exercise-tips .lsx-field-col-80, .cmb-row.cmb2-id-exercise-details .lsx-field-col-80 { width: 80%; }

.cmb-row.lsx-admin-row .lsx-field-text-field input, .cmb-row.lsx-admin-row .lsx-field-add-field input, .cmb-row.cmb2-id-exercise-tips .lsx-field-text-field input, .cmb-row.cmb2-id-exercise-tips .lsx-field-add-field input, .cmb-row.cmb2-id-exercise-details .lsx-field-text-field input, .cmb-row.cmb2-id-exercise-details .lsx-field-add-field input { float: none; margin-right: 0px !important; margin-bottom: 10px; margin-left: 10px; }

.cmb-row.lsx-admin-row .lsx-field-text-field input, .cmb-row.cmb2-id-exercise-tips .lsx-field-text-field input, .cmb-row.cmb2-id-exercise-details .lsx-field-text-field input { max-width: 90%; }

.cmb-row.lsx-admin-row .lsx-field-add-field .regular-text, .cmb-row.cmb2-id-exercise-tips .lsx-field-add-field .regular-text, .cmb-row.cmb2-id-exercise-details .lsx-field-add-field .regular-text { display: none; }

.cmb-row.lsx-admin-row .lsx-field-connect-field textarea, .cmb-row.cmb2-id-exercise-tips .lsx-field-connect-field textarea, .cmb-row.cmb2-id-exercise-details .lsx-field-connect-field textarea { max-width: 500px; width: 100%; }

.cmb-row.lsx-admin-row .cmb-remove-field-row, .cmb-row.cmb2-id-exercise-tips .cmb-remove-field-row, .cmb-row.cmb2-id-exercise-details .cmb-remove-field-row { border-top: 1px solid #e9e9e9; }
