.single.single-team #primary .lsx-team-avatar { border-radius: 0; }

.single.single-team #primary .lsx-team-name { font-weight: bold; }

.single.single-team #primary .lsx-team-job-title { font-family: 'Noto Sans', sans-serif; }
