/** LSX Health Plan styles. @package lsx-health-plan */
@media (min-width: 768px) { .vertical-align { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; } }

#payment.woocommerce-checkout-payment .form-row.place-order { background: #fff; padding: 0px 20px 20px 20px !important; }

#payment.woocommerce-checkout-payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper { background: #f6f6f6; margin-right: -20px; margin-left: -20px; }

#payment.woocommerce-checkout-payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper .validate-required { padding-bottom: 20px !important; }

#payment.woocommerce-checkout-payment .form-row.place-order button#place_order { margin-top: 5px; float: initial; width: 100%; background-color: #F7AE00; box-shadow: -2px 2px 0 0 #CE9100; }

#payment.woocommerce-checkout-payment .form-row.place-order button#place_order:hover { background-color: #CE9100; }
