/**
 * LSX Health Plan styles (admin).
 *
 * @package lsx-health-plan
 */

@import 'partials/cmb_tabbed_theme';

 //  CMB Row Styling
 .cmb-row {
	// Exercise Tips
	&.lsx-admin-row,
	&.cmb2-id-exercise-tips,
	&.cmb2-id-exercise-details {
		.lsx-field-col {
			display: inline-block;
			vertical-align: top;
			border-bottom: 0px solid #e9e9e9 !important;

			.cmb-th {
				padding: 0 10px 10px 0;
				width: 100%;
			}

			.cmb-th+.cmb-td {
				width: 100%;
				float: right;
			}

			.cmb2-metabox-description {
				width:100%;
				padding-top: .5em;
			}
		}
		.lsx-field-col-20 {
			width: 20%;
		}
		.lsx-field-col-25 {
			width: 25%;
		}
		.lsx-field-col-33 {
			width: 30.333% !important;
			padding-right: 2%;
		}
		.lsx-field-col-50 {
			width: 50%;
		}
		.lsx-field-col-66 {
			width: 66.333%;
		}
		.lsx-field-col-75 {
			width: 75%;
		}
		.lsx-field-col-80 {
			width: 80%;
		}

		.lsx-field-text-field,
		.lsx-field-add-field {
			input {
				float:none;
				margin-left: 0px !important;
				margin-bottom: 10px;
				margin-right: 10px;
			}
		}
		.lsx-field-text-field {
			input {
				max-width: 90%;
			}
		}
		.lsx-field-add-field {
			.regular-text {
				display:none;
			}
		}
		.lsx-field-connect-field {

			textarea {
				max-width: 500px;
				width: 100%;
			}
		}
		.cmb-remove-field-row {
			border-top: 1px solid #e9e9e9;
		}
	}

 }