.single.single-team {
	background: white;
	#primary {
		.lsx-team-avatar {
			border-radius: 0;
		}
		.lsx-team-name {
			font-weight: bold;
		}
		.lsx-team-job-title {
			font-family: 'Noto Sans', sans-serif;
		}
		.lsx-team-socials-header {
			display: none;
		}
		.entry-tabs,
		.hp-entry-tabs {
			.nav-tabs {
				> li {
					> a {
						background-color: transparent;
						color: #999999;
						border: 1px solid #dddddd;
					}
				}
			}
			#experience {
				padding-left: 0;
				padding-right: 0;
			}
			#featured-plans {
				.all-plans-block {
					> .row {
						> .col-xs-12 {
							article.lsx-slot {
								box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
								.content-box {
									.btn {
										width: 100%;
										padding: 10px;
										height: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
