.single.single-team {
	background: white;
	#primary {
		.lsx-team-avatar {
			border-radius: 0;
		}
		.lsx-team-name {
			font-weight: bold;
		}
		.lsx-team-job-title {
			font-family: 'Noto Sans', sans-serif;
		}
		.entry-tabs,
		.hp-entry-tabs {
			.nav-tabs {
				> li {
					> a {
						background-color: transparent;
						color: #999999;
						border: 1px solid #dddddd;
					}
				}
			}
		}
	}
}
